<div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
		  
		  <table>
			    <thead class="striped">
			      <tr>
			        <th class="col m9">Blog</th>
			        <th class="col m3">Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="blog in blogCtrl.blognalist">
			        <td class="col m9">
						<p class="nalistTitle"><a href="#/blog/{{blog.blogid}}">{{blog.btitle}}</a></p>
						<p class="nalistUser" >Published by <a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{blog.user.fname}} {{blog.user.lname}}</a> on {{blog.bdate | date : 'MMM d, y h:mm:ss a'}} | {{blog.blikes}} Likes | {{blog.bcomments}} comments</p>
						<p class="nalistText">{{blog.bdata | limitTo: 200}}...  <a href="#/blog/{{blog.blogid}}"> read complete blog</a></p>

					</td>
					
					<td class="col m3"><a ng-click="blogCtrl.blogAppr(blog.blogid);" class="approvebtnB btn green"><i class="fa fa-check" aria-hidden="true"></i></a>&nbsp;
					<a ng-click="blogCtrl.blogDisAppr(blog.blogid);" class="disapprovbtnB btn red"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
			      </tr>
			     
			    </tbody>
			  </table>
		  </div>
		 </div>
		</div>
		  
	