<div >
		
	<div class="panel panel-default col-md-8 col-md-offset-2" style="border-top-color: #A91717; border-top-width: 3px; border-radius: 0;">
	  <div class="panel-body">
		  
		  
		  <table class="table table-condensed">
			    <thead>
			      <tr>
			        <th class="col-md-9">First name</th>
			        <th class="col-md-3">Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="blog in blogCtrl.blognalist">
			        <td>
						<p class="blogtitle"><a href="#/blog/{{blog.blogid}}">{{blog.btitle}}</a></p>
						<p class="bloguser" >Published by <a href="">{{blog.user.fname}} {{blog.user.lname}}</a> on {{blog.bdate | date : 'MMM d, y h:mm:ss a'}} | {{blog.blikes}} Likes | {{blog.bcomments}} comments</p>
						<p class="blogtext">{{blog.bdata | limitTo: 200}}...  <a href="#/blog/{{blog.blogid}}"> see complete blog</a></p>

					</td>
					
					<td><a ng-click="blogCtrl.blogAppr(blog.blogid);">approve</a></td>
			      </tr>
			     
			    </tbody>
			  </table>
		  
		  
		  
	  </div>
	</div>
	
	
</div>