<div ng-repeat="blog in blogCtrl.userbloglist">
		
	<div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card-panel">
		  <p class="blogtitle"><a href="#/blog/{{blog.blogid}}">{{blog.btitle}}</a></p>
		  <p class="bloguser" >Published by <a href="">{{blog.user.fname}} {{blog.user.lname}}</a> on {{blog.bdate | date : 'MMM d, y h:mm:ss a'}} | {{blog.blikes}} Likes | {{blog.bcomments}} comments</p>
		  <p class="blogtext">{{blog.bdata | limitTo: 340}}...  <a href="#/blog/{{blog.blogid}}"> see complete blog</a></p>
	  </div>
	</div>
	</div>
	
</div>