<div class="row" ng-init="forumCtrl.viewForum()">
	 <div class="col s12 m12">
        <div class="card-panel">
			<p class="singleTitle center">{{forumCtrl.singleForum.ftitle}}</p>
			
			<div ng-if=" ((user.userid != forumCtrl.singleForum.user.userid) && !forumCtrl.isParticipant)">
			
				<p><a ng-click="forumCtrl.joinforum(forumCtrl.singleForum)" class="btn">Join</a></p>
			</div>
			<p class="singleDetails center">Created by <a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{forumCtrl.singleForum.user.fname}} {{forumCtrl.singleForum.user.lname}}</a> on {{forumCtrl.singleForum.fdate | date : 'MMM d, y h:mm:ss a'}}</p>
			<p class="singleText">{{forumCtrl.singleForum.fdata}}</p>
			
			<!-- Changes made here -->
			<div class="row"
				ng-if="(forumCtrl.isApproved || (user.userid == forumCtrl.singleForum.user.userid))">
				<form id="newbcomm" name="newbcomm" ng-submit="forumCtrl.addFpost()"
					class="col m12">
					<input type="hidden" ng-model="forumCtrl.fpost.fpostid" />
		
					<div class="row">
						<div class="input-field col s12">
							<textarea id="fdata" class="materialize-textarea"
								data-length="1000" ng-model="forumCtrl.fpost.fpdata"></textarea>
							<label for="fdata">Leave a post</label>
						</div>
					</div>
					<div class="row">
						<!-- Submit button will come here -->
						<div class="col m3">
							<div class="row">
								<button type="submit" class="waves-effect waves-light btn-large">Post</button>
							</div>
						</div>
		
					</div>
		
				</form>
			</div>
			
			
			
		</div>
	</div>
	
	<hr>
 
 	<div ng-if="(forumCtrl.isApproved || (user.userid == forumCtrl.singleForum.user.userid))">
 		  <div class="center-align ">
            <h4>Posts</h4>
          </div>
		<div ng-repeat="fpost in forumCtrl.fpostsByForumid">
			
	<div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
			  <p class="commentUser">Posted by <a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>  {{fpost.user.fname}} {{fpost.user.lname}}</a> on {{fpost.fpdate | date : 'MMM yyyy,dd | hh: mm: ss a'}}</p>
			  
			  <p class="commentText">{{fpost.fpdata}}</p>
		  </div>
		</div>
	</div>
	
</div>

</div>