@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

body {
	background-color: #e6f7f7;
}

#body {
	
	width: 80%;
	margin: 0 auto;
	display: block;
}

.row .col .card-panel .listTitle a {
	
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	font-weight: regular;
	text-transform: capitalize;
	
	/* color: #2714AB; */		/* on hover color */
	/* color: #B11E12; */
	color: #4ec5c1;
}

.row .col .card-panel .listTitle a:hover {
	
	/* color: #34A853; */
	color: #ec576b;
	text-decoration-line: underline;
}

.row .col .card-panel .listData {
	
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.row .col .card-panel .listData a {
	
	color: #2714AB;
	font-weight: bold;
}

.row .col .card-panel .listData a:hover {
	
	color: #ec576b;
	font-weight: bold;
	text-decoration-line: underline;
}

/**********************/
.row .col .card-panel .listUser {
	
	font-family: 'Patrick Hand', cursive;
	color: black;
	font-size: 17px;
}

.row .col .card-panel .listUser a {
	
	color: #e5e338;
	
}
