<div ng-repeat="job in jobCtrl.joblist">
		
	<div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card-panel">
		  <p class="evttitle"><a href="#/job/{{job.jobid}}">{{job.jtitle}}</a></p>
		 <p style="color: black; font-size: 13px;">Uploaded by <a href="">{{job.user.fname}} {{job.user.lname}}</a> on {{job.jdate | date : 'MMM d, y h:mm:ss a'}}</p>
		  <p class="evttext">{{job.jdata | limitTo: 340}}...  <a href="#/job/{{job.jobid}}"> see complete details</a></p>
		 	
	  </div>
	</div>
	</div>
	
</div>
