<div class="row" ng-init="jobCtrl.viewJob()">
	
      <div class="col s12 m12">
        <div class="card-panel grey lighten-4">
			<p class="singleTitle center">{{jobCtrl.singleJob.jtitle}}</p>
			<p class="singleDetails center">Uploaded by <a href="#/frprofile/{{jobCtrl.singleJob.user.userid}}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{jobCtrl.singleJob.user.fname}} {{jobCtrl.singleJob.user.lname}}</a> on {{jobCtrl.singleJob.jdate | date : 'MMM d, y h:mm:ss a'}}</p>
		  	
		  	<div ng-if=" (user.role != 'Admin') && !jobCtrl.hasApplied ">
		  	
		  		<a ng-click="jobCtrl.addJobapp(jobCtrl.singleJob);" class="btn orange darken-3">Apply here!</a>
		  		
		  	</div>
		  	<div ng-if=" (user.role == 'Admin') && (jobCtrl.singleJob.user.userid == user.userid) ">
		  	
		  		<a href="#/job/edit/{{jobCtrl.singleJob.jobid}}" class="btn orange darken-3">Edit</a>
		  		<a ng-click="jobCtrl.deleteAJob();" class="btn red darken-3">Delete</a>
		  	</div>
			<p class="singleText">{{jobCtrl.singleJob.jdata}}</p>
			
		</div>
	</div>
	
	<div ng-if=" (user.role == 'Admin') " class="col s12 m12">
        <div class="card-panel grey lighten-4">
			<table class="striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Date and time</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="singleAppl in jobCtrl.jobapplist">
						<td><a href="#/frprofile/{{singleAppl.user.userid}}">{{singleAppl.user.fname}} {{singleAppl.user.lname}}</a></td>
						<td><a href="#/frprofile/{{singleAppl.user.userid}}">{{singleAppl.user.email}}</a></td>
						<td>{{singleAppl.appdate | date : 'MMM d, y h:mm:ss a'}}</td>
						
					</tr>

				</tbody>
			</table>
		</div>
     </div>
	
</div>