<div ng-if="authenticated">
		<div class="navbar-fixed">

				<ul id="dropdown1" class="dropdown-content">
				  <li><a href="">Forum list</a></li>
				  <li><a href="">Add new Forum</a></li>
				  <li class="divider"></li>
				  <li><a href="">three</a></li>
				</ul>
				<nav>
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">Logo</a>
				 	

				 	
				 		<ul class="right hide-on-med-and-down" ng-if="user.role == 'User'">
				 			
				 			<li><a href="#/user/aplist">AllUsers</a></li>
				 			<li><a href="#/fmember/myForumlist">MyForums</a></li>
				 			<li><a href="#/profile/{{user.userid}}">profile</a></li>
				 			<li><a href="#/blog/userbloglist">My blogs</a></li>
							<li><a href="#/blog/new">Add new blog</a></li>
							<li><a href="#/user/new">Register</a></li>
							<li><a href="#/blog/list">bloglist</a></li>
							<li><a href="#/adminevent/list">listevent</a></li>
							<li><a href="#/job/list">joblist</a></li>
							<li><a href="#/forum/list">Forum list</a></li> 
							
				 		</ul>
				 		<ul class="right hide-on-med-and-down" ng-if="user.role == 'Admin'">
				 			
				 			<li><a href="#/user/aplist">AllUsers</a></li>
				 			<li><a href="#/forum/mylist">CForums</a></li>
				 			<li><a href="#/fmember/myForumlist">MyForums</a></li>
				 			<li><a href="#/fmember/nalist">nafmemberlist</a></li>
							<li><a href="#/blog/new">Add new blog</a></li>
							<li><a href="#/blog/userbloglist">My blogs</a></li>
							<li><a href="#/job/new">Add new job</a></li>
							<li><a href="#/blog/list">bloglist</a></li>
							<li><a href="#/adminevent/new">new event</a></li>
							<li><a href="#/adminevent/list">listevent</a></li>
							<li><a href="#/job/list">joblist</a></li>
							<li><a href="#/user/list">user list</a></li>
							<li><a href="#/user/nalist">user nt ap list</a></li>
							<li><a href="#/blog/nalist">nablog</a></li>
							<!-- Dropdown trigger -->
							<li><a class="dropdown-button" data-activates="dropdown1">Forum<i class="material-icons right">arrow_drop_down</i></a></li>
							  
							
				 		</ul>
				 		
				 		
				 		
				 	
				</div>		<!-- End of nav wrapper -->
				</nav>
		</div>		<!-- End of navbar fixed -->
</div>