<div class="col m12">
				<h3>My Friends</h3>			  
			   <div class="row">
			   <div ng-repeat="singleUser in friendCtrl.myAccFriendlist">
			      <div class="col s12 m4">
			        <div class="card-panel">
			        <div class="row">
			        		<div class="col s4">
					  		<img src="" height="150px" width="100px"/>
					  		</div>
			  				<div class="col s8">
					  		<a href="#/frprofile/{{singleUser.userid}}">{{singleUser.fname}} {{singleUser.lname}}</a><br>
					  		<p>Student</p>
					  		
					  	</div>
					  	</div>
			  		</div>
			  	</div>
			  </div>
		  	
		  	
		  
	  </div>