<div class="col m8 offset-m2">
			  
			   <div class="row">
			   <div ng-repeat="singleUser in userCtrl.userapprvlist">
			      <div class="col s12 m4">
			        <div class="card-panel">
			        <div class="row">
			        		<div class="col s4">
					  		<img src="" height="150px" width="100px"/>
					  		</div>
			  				<div class="col s8">
					  		<p>{{singleUser.fname}} {{singleUser.lname}}</p>
					  		<p>Student</p>
					  		<a href="" class="btn">Add friend</a>
					  		</div>
					  		
					  	</div>
					  	</div>
			  		</div>
			  	</div>
			  </div>
		  	
		  	
		  
	  </div>
	
	
	
