<div class="row" ng-init="userCtrl.viewUser()">

	<div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
        
        	<div class="row">
        		<div class="col m3">
        	<img class="profile-picture" ng-src="assets/images/{{userCtrl.singleUser.profile}}" alt="no pic here!" height="200px">
        		</div>
        		<div class="col m9">
					<p class="frname">{{userCtrl.singleUser.fname}} {{userCtrl.singleUser.lname}}</p>
					<hr>
					<p class="frtext"><span class="frhead">Email</span> : {{userCtrl.singleUser.email}}</p>
					<p class="frtext"><span class="frhead">Phone</span> : {{userCtrl.singleUser.pno}}</p>
					<hr>
					<p class="frtext"><span class="frhead">Address</span> : {{userCtrl.singleUser.add1}}, {{userCtrl.singleUser.add2}}, {{userCtrl.singleUser.add3}}, {{userCtrl.singleUser.city}}, {{userCtrl.singleUser.state}}, {{userCtrl.singleUser.pincode}}</p>
					<hr>
					
					
					
					<p class="frtext"><span class="frhead">Role</span> : {{userCtrl.singleUser.role}}</p>
				</div>
			</div>
		</div>
	</div>	
	</div>
</div>