<div class="row" ng-init="userCtrl.viewUser()">

	<div class="row">
      <div class="col s12 m5">
        <div class="card-panel">
			<h3>{{userCtrl.singleUser.fname}} {{userCtrl.singleUser.lname}}</h3>
			<p>{{userCtrl.singleUser.add1}}</p>
			<p>{{userCtrl.singleUser.add2}}</p>
			<p>{{userCtrl.singleUser.add3}}</p>
			<p>{{userCtrl.singleUser.city}}</p>
			<p>{{userCtrl.singleUser.state}}</p>
			<p>{{userCtrl.singleUser.pincode}}</p>
			
			<p>{{userCtrl.singleUser.pno}}</p>
			<p>{{userCtrl.singleUser.email}}</p>
			<p>Role: {{userCtrl.singleUser.role}}</p>
		</div>
	</div>	
	</div>
</div>