<div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card-panel">
		
		  	  <table class="striped">
			    <thead>
			      <tr>
			        <th>First name</th>
			        <th>Last name</th>
			        <th>Email</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="singleUser in userCtrl.userlist">
			        <td>{{singleUser.fname}}</td>
			        <td>{{singleUser.lname}}</td>
			        <td>{{singleUser.email}}</td>
			      </tr>
			     
			    </tbody>
			  </table>
		  	<!-- <div ng-repeat="singleUser in userCtrl.userlist">
		  		<p>{{singleUser.fname}} {{singleUser.lname}}</p>
		  		<p>Student</p>
		  		<a href="">Add friend</a>
		  		<hr/>
		  	</div> -->
		  	
		  
	  </div>
	</div>
	
	</div>
