<div class="row">
      <div class="col s12 m12">
        <div class="card-panel grey lighten-4">
			<div class="center-align">
	            <p class="loginHeadergrey">Approve Users</p>
	        </div>
			   <!-- Search method -->
				<div class="row">
				    <form class="col s12">
				    
				      <div class="row">
				        <div class="input-field col s6">
				          <input id="first_name" type="text" class="validate" ng-model="search4.fname">
				          <label for="first_name">Search First Name</label>
				        </div>
				        <div class="input-field col s6">
				          <input id="last_name" type="text" class="validate" ng-model="search4.lname">
				          <label for="last_name">Search Last Name</label>
				        </div>
				      </div>
				     </form>
				 </div>
				
		  	  <table class="striped">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Email</th>
			      	<th>approv</th>
			      	<th>Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="singleUser in userCtrl.usernalist | filter : search4 ">
			        <td><a href="#/frprofile/{{singleUser.userid}}">{{singleUser.fname}} {{singleUser.lname}}</a></td>
			        <td><a href="#/frprofile/{{singleUser.userid}}">{{singleUser.email}}</a></td>
			         <td>{{singleUser.isApproved}}</td>
			         <td><a ng-click="userCtrl.userAppr(singleUser.userid);" class="btn orange darken-3">approve</a> &nbsp; <a ng-click="userCtrl.userDisappr(singleUser.userid);" class="btn  red darken-4">Disapprove</a></td>
			      </tr>
			     
			    </tbody>
			  </table>
		  
		  
		  
	  </div>
	</div>
	
	
</div>