<div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card-panel">
		
		  	  <table class="striped">
			    <thead>
			      <tr>
			        <th>First name</th>
			        <th>Last name</th>
			        <th>Email</th>
			      	<th>approv</th>
			      	<th>Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="singleUser in userCtrl.usernalist">
			        <td>{{singleUser.fname}}</td>
			        <td>{{singleUser.lname}}</td>
			        <td>{{singleUser.email}}</td>
			         <td>{{singleUser.isApproved}}</td>
			         <td><a ng-click="userCtrl.userAppr(singleUser.userid);">approve</a></td>
			      </tr>
			     
			    </tbody>
			  </table>
		  
		  
		  
	  </div>
	</div>
	
	
</div>