	<div class="panel panel-default col-md-8 col-md-offset-2">
		 <p style="font-weight: 700px; font-size: 30px; padding:15px 0px 0px 30px;">New event</p>
              <hr />
		
		<div class="panel-body">
            	
                <form id="newEvent" name="newEvent" ng-submit="evtCtrl.addEvt()" class="col s12" style="padding-bottom: 40px;">
                 <input type="hidden" ng-model="evtCtrl.evt.evtid" />

                    <!-- For Blog title --> 
                    <div class="form-group col-md-8">
                    	<label for="etitle">Event topic</label>
                    	<input id="etitle" type="text" class="form-control" data-length="120" ng-model="evtCtrl.evt.etitle">
                    </div>
                    
					<!-- Separator 
                    <div class="clearfix"></div>
					<br><br> -->
                   
                    <div class="form-group col-md-12">
                    	<label for="edata">Event text</label>
                    	<textarea id="edata"  type="text" class="form-control" rows="25" ng-model="evtCtrl.evt.edata" > 
                            </textarea>
                    </div>

                   <!-- Separator  -->
                    <div class="clearfix"></div>
					<br><br>
                    
                    <!-- For submit button -->
                    <div class="col-md-6">
                         <button type="submit" class="btn btn-danger">Publish</button>
                    </div>

                </form>
                
                
            </div>	<!-- End of panel body  -->
            </div>	<!-- End of panel -->
            